body {
    background-color: #fafafa;
    font-family: 'Inter', 'Open Sans', sans-serif;
    margin: 20px 20px 20px 20px;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 21px;
}

header img {
    width: 290px;
    height: auto;
    margin: 15px
}

header {
    padding: 0px 16px 0px 16px;
}

main h2 {
    color: #1b1127;
    margin: 15px 21px 13px 20px;
    border-bottom: 1px solid #002147;
    padding: 0px 0px 10px 0px;
}

main li {
    font-size: 18px;
    line-height: 1.7;
}

header, main, footer {
    max-width: 1980px;
}

header,
footer {
    background-color: #002147;
    color: #fcefd8;
}

footer {
    font-size: 16px;
    text-align: center;
    line-height: 1.7;
    padding: 17px 0px 0px 0px;
}

footer a {
    color: #fcefd8;
}

#lastmodified {
    color: yellow;
}
