@media only screen and (min-width: 1025px) {  
    body {
        margin: 0px;
        padding: 5px 0px 0px 0px;
    }

    .headings {
        margin: 0px 0px 5px 0px;
    }

    .headings h1 {
        font-size: 40px;
    }

    header img {
        width: 96px;
        height: auto;
    }

    .motto {
        font-size: 1rem;
    }

    nav {
        display: flex;
        flex-direction: unset;
        border-radius: 0px;
    }

    nav button {display: none;}
        
    nav ul.hide {display: block;}
        
    nav ul li {
        float: left;
    }
        
    nav ul li a {
        border: none;
        padding: .6rem 1rem;
    }

    nav ul li:nth-child(1) {
        border-right: 1px solid rgba(0,97,153,0.3);
    }

    nav ul li:nth-child(2) {
        border-right: 1px solid rgba(0,97,153,0.3);
    }

    nav ul li:nth-child(3) {
        border-right: 1px solid rgba(0,97,153,0.3);
    }

    nav ul li:nth-child(4) {
        border-right: 1px solid rgba(0,97,153,0.3);
    }

    nav ul li:nth-child(5) {
        border-right: 1px solid rgba(0,97,153,0.3);
    }

    main {
        max-width: 960px;
        margin: 20px auto;
    }
    
    footer {
        border-radius: 0px;
    }

    footer p {
        border-radius: 0px;
    }
} 