/* This is the CSS styling for the desktop version */
@media only screen and (min-width: 1025px) {  
    body {
        margin: 0px;
        padding: 0px;
    }

    header {
        display: grid;
        grid-template-columns: 174px 121px auto auto 194px;
        grid-template-rows: auto auto auto auto;
        column-gap: 0px;
        row-gap: 0px;;
        padding: 0px;
        margin: 0px;
    }

    .weather-info {
        grid-column: 1/6;
        grid-row: 1/2;
    }

    .logo-box {
        grid-column: 2/3;
        grid-row: 2/5;
        padding: 5px 0px 5px 0px;
    }

    .headings {
        grid-column: 3/4;
        grid-row: 2/5;
        padding: 15px 0px 0px 0px;
        margin: 0px;
    }

    nav.clearfix {
        grid-column: 4/5;
        grid-row: 3/4;
    }

    .headings h1 {
        font-size: 40px;
    }

    header img {
        width: 96px;
        height: auto;
        margin: 0px auto;
    }

    div.motto {
        font-size: 1rem;
    }

    nav {
        display: flex;
        border-radius: 0px;
        box-shadow: none;
        border-radius: 0px;
    }

    nav button {display: none;}
        
    nav ul.hide {display: block;}
        
    nav ul li {
        float: left;
    }
        
    nav ul li a {
        border: none;
        padding: .6rem 1rem;
    }

    nav ul li:nth-child(1) {
        border-right: 1px solid rgba(245, 207, 135, 0.6);
    }

    nav ul li:nth-child(2) {
        border-right: 1px solid rgba(245, 207, 135, 0.6);
    }

    nav ul li:nth-child(3) {
        border-right: 1px solid rgba(245, 207, 135, 0.6);
    }

    nav ul li:nth-child(4) {
        border-right: 1px solid rgba(245, 207, 135, 0.6);
    }


    main {
        display: grid;
        grid-template-columns: auto 960px auto;
        grid-template-rows: auto auto auto auto auto;
        z-index: 1;
    } 

    .home-page-banner {
        grid-column: 1/4;
        grid-row: 1/6;
    }

    .upcoming-events {
        grid-column: 2/3;
        grid-row: 2/3;
        margin: 274px 0px 0px 0px;
    }

    .about-us {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .partners {
        grid-column: 2/3;
        grid-row: 4/5;
    }

    .home-page-join-banner {
        grid-column: 1/4;
        grid-row: 5/6;
        margin: 0px;
    }

    .banner-heading {
        font-size: 58px;
        padding: 30px 200px 30px 200px;
    }

    .home-page-banner {
        display: grid;
        grid-template-columns: auto 960px auto;
        grid-template-rows: auto;
    }

    .home-page-banner-img {
        grid-column: 1/4;
        grid-row: auto;
        z-index: -1;
    }

    .banner-box {
        grid-column: 2/3;
        grid-row: 1/2; 
        margin: 38px 0px 38px 0px;
    }

    .upcoming-events {
        text-align: center;
        padding: 24px;
    }

    .upcoming-events-heading {
        margin: 0px 0px 20px 0px;
    }

    .event1 a, .event2 a {
        z-index: 1;
    }

    .event1 {
        display: grid;
        grid-template-columns: 200px auto;
        grid-template-rows: auto auto auto;
        column-gap: 7px;
    }

    .event-box1 {
        grid-column: 1/2;
        grid-row: 1/4;
        margin: 0px;
        padding: 7px;
    }

    div.event1 h4 {
        grid-column: 2/3;
        grid-row: 1/2;
        margin: 0px;
    }

    div.event1 h5 {
        grid-column: 2/3;
        grid-row: 2/3;
        margin: 10px 0px 5px 0px;
    }

    div.event1 p {
        grid-column: 2/3;
        grid-row: 3/4;
        margin: 0px;
    }

    main section.upcoming-events div.event-box1 h3 {
        font-size: 22px;
        letter-spacing: 2px;
        margin: 0px;
    }

    .event2 {
        display: grid;
        grid-template-columns: 200px auto;
        grid-template-rows: auto auto auto;
        column-gap: 7px;
        margin: 0px;
    }

    .event-box2 {
        grid-column: 1/2;
        grid-row: 1/4;
        margin: 0px;
        padding: 7px;
    }

    div.event2 h4 {
        grid-column: 2/3;
        grid-row: 1/2;
        margin: 0px;
    }

    div.event2 h5 {
        grid-column: 2/3;
        grid-row: 2/3;
        margin: 10px 0px 5px 0px;
    }

    div.event2 p {
        grid-column: 2/3;
        grid-row: 3/4;
        margin: 0px;
    }

    main section.upcoming-events div.event-box2 h3 {
        font-size: 22px;
        letter-spacing: 2px;
        margin: 0px;
    }

    .upcoming-events {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        column-gap: 33px;
    }

    .upcoming-events-heading {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .event1 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .event2 {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .home-page-budva-img {
        margin: 0px auto;
    }

    figure {
        z-index: 1;
    }

    .about-us {
        display: grid;
        grid-template-columns: auto 437px;
        grid-template-rows: auto auto auto;
        margin: 40px 0px 0px 0px;
        padding: 24px 24px 14px 24px;
    }

    .home-page-budva-img {
        grid-column: 2/3;
        grid-row: 1/4;
    }

    .about-us-heading {
        grid-column: 1/2;
        grid-row: 1/2;
        margin: 0px 0px 7px 0px;
    }

    .about-budva-chamber {
        grid-column: 1/2;
        grid-row: 2/3;
        padding: 0px 15px 0px 0px;
    }

    .article-button {
        grid-column: 1/2;
        grid-row: 3/4;
        z-index: 1;
    }

    .partners {
        padding: 24px;
        margin: 40px 0px 0px 0px;
    }

    .partners-heading {
        margin: 0px;
    }

    figure:hover {
        border: 1px solid #170030;
    }

    figure:hover figcaption {
        color: #170030;
    }

    .company-ad {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        margin: 15px 0px 0px 0px;
        column-gap: 6px;
    }

    .company-1 {
        grid-column: 1/2;
        grid-row: 1/2;
        margin: 0px;
    }

    .company-2 {
        grid-column: 2/3;
        grid-row: 1/2;
        margin: 0px;
    }

    .company-3 {
        grid-column: 3/4;
        grid-row: 1/2;
        margin: 0px;
    }

    .company-4 {
        grid-column: 4/5;
        grid-row: 1/2;
        margin: 0px;
    }

    .company-figcaption1, .company-figcaption2, .company-figcaption3, .company-figcaption4 {
        padding: 0px 10px 10px 10px;
    }

    .home-page-join-banner {
        display: grid;
        grid-template-columns: auto 960px auto;
        grid-template-rows: auto;
    }

    .home-page-join-banner-img {
        grid-column: 1/4;
        grid-row: 1/2; 
    }

    .home-page-join-banner-box {
        grid-column: 2/3;
        grid-row: 1/2; 
        margin: 24px 0px 24px 0px;
        z-index: 1;
    }

    .join-banner-heading {
        font-size: 40px;
        padding: 10px 33px 8px 33px;
    }

    .join-button {
        padding: 15px;
    }

    footer {
        display: grid;
        grid-template-columns: auto 960px auto;
        grid-auto-rows: auto auto;
        border-radius: 0px;
        background-color: #170030;
        border-radius: 0px;
    }

    .contact-info {
        grid-column: 2/3;
        grid-row: 1/2;
        padding: 24px;
    }

    .contact-info-heading {
        margin: 0px 0px 24px 0px;
    }

    .address-icon, .phone-icon {
        margin: 0px;
    }

    .website-info {
        grid-column: 1/4;
        grid-row: 2/3;
    }

} 